.bundle
db/*.sqlite3
log/*.log
log/*.log.*
log/cron_log/*.log
tmp/
.*.swp
db/schema.rb
app/model/game.rb
spec/game_spec.rb
spec/reports/*
*.swp
.DS_Store
coverage/
__*
public/output
public/assets
/analysis/rdoc/*
/analysis/rdoc*
db/development_structure.sql

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

lib/disposable/*
.env
.sass-cache/

.ruby-version
.rubocop-https*
